<!DOCTYPE html>
<html lang="en">
<head>
        {{!-- <meta charset="UTF-8"> --}}
        <title>Palindrome Checker</title>
    </head>
<article>
    <header>
        <h1>{{title}}</h1>
    </header>
        <p class=error>{{description}}</p>
        <a href="/">Back to main page</a>
</article>
</html>