body {
    font-size: 14pt;
	background: #dedede;
	font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

main {
	max-width: 80%;
	margin: auto;
}

header {
	border-bottom: 2px solid #afafaf;
}

h1, h2, h3, h4, h5, h6 {
	color: rgb(44, 43, 43);
	margin-bottom: 5px;
}

h1 {
	font-size: 24pt;
}

p {
	font-size: 12pt;
	line-height: 1.5;
}

label {
    font-size: 14pt;
    font-weight: bold;
}

a:visited {
	color: blue;
}

a:hover {
	color: rgb(255, 208, 105);
}

.success {
	color: #28a745;
}

.failure {
	color: #dc3545;
}